@charset "utf-8";
/* CSS Document */

.cabecalho {
	height: 100px;
}


.atividade{
	height: 100px;
}

.nome {
	margin-top: 10%;
	margin-left: 15%;
	text-align: center;
}


.botao{
	margin-top: 2%;
	
}
#submete {
	font-family: sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	
}


h4.sair {
	margin-top: 10%;
	margin-right: auto;
	color: black;
}

#imagem {
	float: none;
	display: block;
	margin: auto;
}

.sair1 {
	color: black;
}

hr.linha {
	border-color:#AAA8A8;
	border-bottom-width: thin;
	width:100%;  
}

.meio {	
	background: #DDDDDD;
}


.progresso1{
	width: 300px;
	
}

h4 {
	margin-top: 50%;
}

#horas {
	margin-top: 2%; 
}

#atividade {
	font-family: sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}

table {
	margin-top: 2%;
	text-align: center;
}
