h4.sair {
	margin-top: 10%;
	margin-right: auto;
	color: black;
}

#imagem {
	float: none;
	display: block;
	margin: auto;
}

.sair1 {
	color: black;
}

#menu {
	background:#FFFFFF;;
}


a {
	text-decoration: none;
}

ul {
	color: #FFFFFF;
}

/* quando passar o mouse muda de cor*/
#menu a:hover {
	text-decoration: none; 
	background-color:#404549;
	color: #FFFFFF;
}

.negrito {
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #007BFF;
	font-size: 14px;
}

/* CSS Document */



.nome {
	margin-top: 10%;
	margin-left: 15%;
	text-align: center;
}

table {
	margin-top: 1%;
	text-align: center;
}
